*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

#header {
  background-image: url('images/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 5rem;
}


#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-menu li {
  /* padding-right: 4rem; */
  font-size: 18px;
}

#nav-menu a {
  color: #fff;
  margin-right: 4rem;
}

#nav-menu a:hover {
  background: #ff7f27;
  padding: 0.8rem 1.2rem;
}

#hire {
  color: #fff;
  background: #ff7f27;
  padding: 0.6rem 1.2rem;
  font-size: 18px;
  border-radius: 50px;
}

#creatives {
  margin-top: 17%;
  padding-left: 18rem;
}

.intro-content h1 {
  font-size: 40px;
}

.intro-text p{
  font-size: 20px;
  padding-right: 20rem;
}

.social {
  margin-top: 1rem;
  font-size: 20px;
}

.social a {
  color: #fff;
  margin-right: 1.5rem;
}

.about {
  background: #dbd6d6;
  padding: 2rem 0 3rem 0;
}

.heading {
  font-size: 60px;
  text-align: center;
}

.about-text {
  margin-top: 3rem;
  text-align: center;
  padding: 0 6rem;
}

.about .lorem {
  font-size: 20px;
  line-height: 25px;
}

.about-text p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2rem;
}

.about-text p:nth-child(2) {
  margin-bottom: 2rem;
}

.about-text p:nth-child(3) {
  margin-bottom: 3rem;
}

.records {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 30px;
}

.record p {
 font-size: 20px;
}

.resume-link {
  margin-top: 3rem;
  text-align: center;
} 

.resume-link a {
  border: 1px solid #ff7f27;
  background: transparent;
  color: #000;
  padding: 0.8rem 1.5rem;
  font-size: 17px;
}

.resume-link a:hover {
  background: #ff7f27;
  color: #fff;
}

.resume {
  background: #f5f5f5;
  padding: 3rem 0;
}

.resume-text {
  margin: 3rem 0;
  text-align: center;
  font-size: 20px;
}

.resume-text p {
  padding: 0 5rem;
  line-height: 25px;
}

.skills {
  margin-top: 2rem;
}

.qual-heading {
  font-size: 30px;
  margin: 2rem 0 2rem 2rem;
  text-transform: uppercase;
}

.skill-content {
  margin-left: 6rem;
}

.skill-content p {
  font-size: 18px;
  font-weight: 700;
}

.skill-name {
  margin-bottom: 0.5rem;
}

.progress {
  background: rgb(192, 192, 192);
  width: 50%;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.skill-set {
  color: #fff;
  padding: 1%;
  text-align: right;
  border-radius: 15px;
}

.photoshop {
  background: rgb(0, 0, 153);
  width: 90%;
}

.illustrator {
  background: rgb(255, 99, 71);
  width: 80%;
}

.html {
  background: rgb(102, 178, 255);
  width: 70%;
}

.css {
  background: rgb(173, 216, 230);
  width: 40%;
}

.jquery {
  background: rgb(255, 160, 122);
  width: 30%;
}

.resume-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 9rem;
}

.resume-grid-text {
  padding-left: 2rem;
}

/* .exp {
  padding-right: 6rem;
} */

.expertise li {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.exp h1 {
  font-size: 30px;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
  
}

.qual-p1 {
  font-size: 16px;
  margin-bottom: 0.2rem;
}

.qual-p2 {
  font-size: 18px;
  font-weight: 700;
}

.qual-small {
  font-family: 16px;
  margin-bottom: 0.2rem;
}

.qual-p3 {
  font-size: 18px;
  margin-bottom: 1rem;
}

.awards {
  text-align: center;
}

.awards h1 {
  font-size: 30px;
  text-transform: uppercase;
  /* text-align: center; */
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.awards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.awards-text {
  padding: 0 10rem;
}

.resume-button {
  text-align: center;
  margin-top: 4rem;
}

.resume-button button {
  background: transparent;
  border: 2px solid #ff7f27;
  padding: 0.8rem 1.5rem;
  font-size: 17px;
}

.resume-button button:hover {
  background: #ff7f27;
  color: #fff;
}

.project {
  padding-top: 2.5rem;
  background: #dbd6d6;
  padding-bottom: 3rem;
  
}

.project h1 {
  margin-bottom: 3rem;
}

.project-intro {
  text-align: center;
}

.project-text {
  font-size: 18px;
  padding: 0 20rem;
}

.project-text1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.p-grid {
  /* text-align: center; */
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 4rem;
}

.project-img {
  width: 350px;
  margin-left: 55%;
}

.image {
  width: 100%;
}

.project-img strong {
  font-size: 30px;
  margin-left: 18.5rem;
}

.project-details {
  margin-right: 45%;
  margin-top: 2rem;
}

.project-details h1 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.project-details li {
  margin-bottom: 0.5rem;
}








